// FONTS

$font: 'Montserrat';

// PADDINGS AND MARGINS

$padding: 15px;

// COLORS

$color: #2F536D;
$linkColor: #2D536F;
$textColor: #000;

// SHADOWS

$shadowColor: rgba(0, 0, 0, .18);
$shadow: 0 2px 4px $shadowColor;
$footerShadow: 0 -2px 4px $shadowColor;