{% set search = function('get_translation', "Пошук", "Search") %}
{% set dark_theme = function('get_translation', "Нічна тема", "Dark theme") %}
{% set light_theme = function('get_translation', "Світла тема", "Light theme") %}

<header class="header">
  <div class="header__logo">
    <a class='header__link' href='/'></a>
  </div>
  <div class='header__title'>
    <a href='/'>
      {{ function('get_translation',
          "Кафедра<br>інфокомунікаційної інженерії<br>імені В.В. Поповського",
          "V.V. Popovskyy<br>Department of Infocommunication Engineering") }}
    </a>
  </div>
  <div class='header__burger js-toggleMenu'>
    <div class="burger"></div>
  </div>
  <div class="header__menu">
    <div class="header__search">
      <a href='/search' style='position: static;'>
        {{search}}
      </a>
    </div>
    <!--<div class='darkMode js-darkMode'>
      {{dark_mode ? light_theme : dark_theme}}
    </div>-->
    {{function('get_menu')}}
    <ul class="menu">
      <li id="menu-item-999" class="menu__item">
        <svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><path d="m42.054 29.348c-1.59-.36-2.2-.6-2.2-1.35 0-.615.569-1.11 1.515-1.11a4.776 4.776 0 0 1 2.939 1.14l1.155-1.59a5.95 5.95 0 0 0 -4.035-1.425c-2.25 0-3.81 1.3-3.81 3.209 0 2 1.545 2.61 3.72 3.1 1.575.36 2.175.585 2.175 1.32 0 .645-.569 1.155-1.68 1.155a5.087 5.087 0 0 1 -3.39-1.35l-1.275 1.515a6.62 6.62 0 0 0 4.575 1.71c2.52 0 4-1.305 4-3.27.002-1.902-1.468-2.558-3.689-3.054z"></path><path d="m53.155 27.024a3.208 3.208 0 0 1 2.4 1.155l1.605-1.44a5.488 5.488 0 0 0 -9.479 3.6 5.489 5.489 0 0 0 5.475 5.34 5.576 5.576 0 0 0 4-1.725l-1.605-1.44a3.208 3.208 0 0 1 -2.4 1.155 3.325 3.325 0 0 1 0-6.645z"></path><path d="m64.121 25.014a5.334 5.334 0 1 0 5.479 5.325 5.476 5.476 0 0 0 -5.479-5.325zm0 8.654a3.324 3.324 0 1 1 3.21-3.33 3.317 3.317 0 0 1 -3.21 3.33z"></path><path d="m80.5 28.674a3.573 3.573 0 0 0 -3.886-3.48h-4.634v10.306h2.205v-3.346h1.635l2.355 3.346h2.52l-2.534-3.6a3.354 3.354 0 0 0 2.339-3.226zm-4.125 1.455h-2.19v-2.91h2.19c1.095 0 1.845.57 1.845 1.455s-.75 1.455-1.845 1.455z"></path><path d="m82.9 35.498h7.935v-1.995h-5.714v-2.264h5.174v-1.996h-5.174v-2.054h5.714v-1.995h-7.935z"></path><path d="m121.5 13.6h-115a1.75 1.75 0 0 0 -1.75 1.75v97.308a1.75 1.75 0 0 0 1.75 1.742h115a1.75 1.75 0 0 0 1.75-1.75v-97.304a1.75 1.75 0 0 0 -1.75-1.746zm-113.25 3.5h111.5v26.5h-111.5zm0 93.808v-63.808h111.5v63.8z"></path><path d="m115.5 49.6h-103a1.75 1.75 0 0 0 -1.75 1.75v55.308a1.75 1.75 0 0 0 1.75 1.75h103a1.75 1.75 0 0 0 1.75-1.75v-55.312a1.75 1.75 0 0 0 -1.75-1.746zm-49 27.65h-12.25v-10.327h12.25zm3.5-10.327h12.25v10.327h-12.25zm-3.5 13.827v10.327h-12.25v-10.327zm3.5 0h12.25v10.327h-12.25zm15.75 0h12.25v10.327h-12.25zm15.75 0h12.25v10.327h-12.25zm0-3.5v-10.327h12.25v10.327zm-3.5 0h-12.25v-10.327h12.25zm-12.25-13.827v-10.323h12.25v10.323zm-3.5 0h-12.25v-10.323h12.25zm-15.75 0h-12.25v-10.323h12.25zm-15.75 0h-26.5v-10.323h26.5zm0 3.5v10.327h-26.5v-10.327zm-30 10.327h-6.5v-10.327h6.5zm-6.5 3.5h6.5v10.327h-6.5zm10 0h26.5v10.327h-26.5zm26.5 13.827v10.323h-26.5v-10.323zm3.5 0h12.25v10.323h-12.25zm15.75 0h12.25v10.323h-12.25zm15.75 0h12.25v10.323h-12.25zm15.75 0h12.25v10.323h-12.25zm12.25-31.154h-12.25v-10.323h12.25zm-93-10.323v10.323h-6.5v-10.323zm-6.5 41.48h6.5v10.32h-6.5z"></path></svg>
        <span>
          Наукометричні показники<br>співробітників кафедри ІКІ
        </span>
        
        <ul class="menu menu-sublist">
          <li class="menu__item"><span><a href="/learning-process/scopus" class="menu__link"></a>НМБ Scopus</span></li>
          <li class="menu__item"><span><a href="/learning-process/google-scholar" class="menu__link"></a>НМБ Google Scholar</span></li>
          <li class="menu__item"><span><a href="/learning-process/web-of-science" class="menu__link"></a>НМБ Web of Science</span></li>
        </ul>
      </li>

      <li id="menu-item-999" class="menu__item">
        <svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><path d="m42.054 29.348c-1.59-.36-2.2-.6-2.2-1.35 0-.615.569-1.11 1.515-1.11a4.776 4.776 0 0 1 2.939 1.14l1.155-1.59a5.95 5.95 0 0 0 -4.035-1.425c-2.25 0-3.81 1.3-3.81 3.209 0 2 1.545 2.61 3.72 3.1 1.575.36 2.175.585 2.175 1.32 0 .645-.569 1.155-1.68 1.155a5.087 5.087 0 0 1 -3.39-1.35l-1.275 1.515a6.62 6.62 0 0 0 4.575 1.71c2.52 0 4-1.305 4-3.27.002-1.902-1.468-2.558-3.689-3.054z"></path><path d="m53.155 27.024a3.208 3.208 0 0 1 2.4 1.155l1.605-1.44a5.488 5.488 0 0 0 -9.479 3.6 5.489 5.489 0 0 0 5.475 5.34 5.576 5.576 0 0 0 4-1.725l-1.605-1.44a3.208 3.208 0 0 1 -2.4 1.155 3.325 3.325 0 0 1 0-6.645z"></path><path d="m64.121 25.014a5.334 5.334 0 1 0 5.479 5.325 5.476 5.476 0 0 0 -5.479-5.325zm0 8.654a3.324 3.324 0 1 1 3.21-3.33 3.317 3.317 0 0 1 -3.21 3.33z"></path><path d="m80.5 28.674a3.573 3.573 0 0 0 -3.886-3.48h-4.634v10.306h2.205v-3.346h1.635l2.355 3.346h2.52l-2.534-3.6a3.354 3.354 0 0 0 2.339-3.226zm-4.125 1.455h-2.19v-2.91h2.19c1.095 0 1.845.57 1.845 1.455s-.75 1.455-1.845 1.455z"></path><path d="m82.9 35.498h7.935v-1.995h-5.714v-2.264h5.174v-1.996h-5.174v-2.054h5.714v-1.995h-7.935z"></path><path d="m121.5 13.6h-115a1.75 1.75 0 0 0 -1.75 1.75v97.308a1.75 1.75 0 0 0 1.75 1.742h115a1.75 1.75 0 0 0 1.75-1.75v-97.304a1.75 1.75 0 0 0 -1.75-1.746zm-113.25 3.5h111.5v26.5h-111.5zm0 93.808v-63.808h111.5v63.8z"></path><path d="m115.5 49.6h-103a1.75 1.75 0 0 0 -1.75 1.75v55.308a1.75 1.75 0 0 0 1.75 1.75h103a1.75 1.75 0 0 0 1.75-1.75v-55.312a1.75 1.75 0 0 0 -1.75-1.746zm-49 27.65h-12.25v-10.327h12.25zm3.5-10.327h12.25v10.327h-12.25zm-3.5 13.827v10.327h-12.25v-10.327zm3.5 0h12.25v10.327h-12.25zm15.75 0h12.25v10.327h-12.25zm15.75 0h12.25v10.327h-12.25zm0-3.5v-10.327h12.25v10.327zm-3.5 0h-12.25v-10.327h12.25zm-12.25-13.827v-10.323h12.25v10.323zm-3.5 0h-12.25v-10.323h12.25zm-15.75 0h-12.25v-10.323h12.25zm-15.75 0h-26.5v-10.323h26.5zm0 3.5v10.327h-26.5v-10.327zm-30 10.327h-6.5v-10.327h6.5zm-6.5 3.5h6.5v10.327h-6.5zm10 0h26.5v10.327h-26.5zm26.5 13.827v10.323h-26.5v-10.323zm3.5 0h12.25v10.323h-12.25zm15.75 0h12.25v10.323h-12.25zm15.75 0h12.25v10.323h-12.25zm15.75 0h12.25v10.323h-12.25zm12.25-31.154h-12.25v-10.323h12.25zm-93-10.323v10.323h-6.5v-10.323zm-6.5 41.48h6.5v10.32h-6.5z"></path></svg>
        <span>
          Наукометричні показники<br>співробітників ХНУРЕ
        </span>
        
        <ul class="menu menu-sublist">
          <li class="menu__item"><span><a href="/learning-process/scopus-nure" class="menu__link"></a>НМБ Scopus</span></li>
          <li class="menu__item"><span><a href="/learning-process/google-scholar-nure" class="menu__link"></a>НМБ Google Scholar</span></li>
          <li class="menu__item"><span><a href="/learning-process/web-of-science-nure" class="menu__link"></a>НМБ Web of Science</span></li>
        </ul>
      </li>
    </ul>
  </div>
</header>