{% for banner in posts %}
    {% set url = banner.get_field('url') %}
    {% set image = banner.get_field('image') %}

    <div class="sidebar__banner banner">
        {% if url != "" %}
            <a href='{{url}}' rel='nofollow' target='blank'>
                <img src='{{image}}' alt=''> 
            </a>
        {% else %}
            <img src='{{image}}' alt=''> 
        {% endif %}
    </div>
{% endfor %}